body {
    background-image: url(bricks.jpg);
    background-size:cover;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
#input-div {
    display: flex;
    justify-content: center;
}
#output-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input {
    margin-left: 10px;
    margin-right: 10px;
    width: 125px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid  black;
    border-style: inset;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    color: black;
  
}

button {
    border-radius: 10px;
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px black;
    
}

#blur-div {
    border-style: inset;
    box-shadow: 0px 0px 20px black;
    color: white;
    text-shadow: 0px 0px 10px black;
    margin: auto;
    margin-top: 35px;
    padding: 35px;
    border-width: 1px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    width: 50%;
}